@charset "utf-8";
/* CSS Document */
.profile {
	display: flex;
	margin: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	box-sizing: border-box;
	outline: none;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	background: #00d0ff;
	width: 1100px;
}
.profile .card {
	position: relative;
	width: 100%;
	height: 530px;
	margin: 0 auto;
	background: #FFF;
	transition: 0.5s;
}
.profile .card:hover {
	box-shadow: 0 30px 50px rgba(0,0,0,0.2);
}
.profile .card .face {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.profile .card .face.face1 {
	box-sizing: border-box;
	text-align: justify;
	background: #FFF;
	color: #322828
}
.profile .card .face.face1 h3 {
	margin-top: 70px;
	text-align: center;
}
.profile .card .face.face1 a {
	display: inline-block;
	padding: 5px 10px;
	margin-top: 20px;
	margin-left: 20px;
	text-decoration: none;
	color: #322828;
	border: 2px solid #322828;
}
.profile .card .face.face1 a:hover {
	color: #FFF;
	background: #322828; 
}
.profile .card .face.face2 {
	background: #322828;
	transition: 0.5s;
}
.profile .card:hover .face.face2 {
	height: 50px;
	width: 500px;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	border: 2px solid #322828;
}
.profile .card .face.face2 h2 {
	margin-left: 80px;
	padding: 0;
	font-size: 5.5em;
	text-align: center;
	color: #FFF;
	transition: 0.5s;
}
.profile .card:hover .face.face2 h2 {
	color: #322828;
	font-size: 2em;
}
.profile .card p {
	margin: 20px
}
